/target
.idea
target
tests
/scraps
/tarpaulin_configs
/coverage_reports_core
/spotify-assistant/src/bin
/spotify-assistant/src/bin/get_recommendations.rs
/spotify-assistant/src/bin/sqlite_db.rs
/spotify-assistant/src/bin/mongo_db.rs
/spotify-assistant/src/bin/explore_artist.rs
/spotify-assistant-ai/Cargo.lock
/spotify-assistant-cli/Cargo.lock
/spotify-assistant-core/Cargo.lock
/spotify-assistant-database/Cargo.lock
/spotify-assistant-tui/Cargo.lock
bacon.toml
.env
